* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pp-neue-montreal", sans-serif;
}

/* +++ Navbar +++ */
.navbar .navbar-nav .nav-link {
  color: black;
  font-weight: 500;
  font-size: 0.95rem;
  padding-left: 25px;
}

.get-started-button {
  border-radius: 20px;
}
/* +++ End of Navbar +++ */
/* +++++++++++++++++++++ */

/* +++ Intro +++ */
/* Title*/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  margin-bottom: 230px;
}

@media (min-width: 768px) {
  .intro {
    margin-bottom: 120px;
  }
}

.intro .title h1 {
  margin-top: 160px;
  font-weight: 500;
  letter-spacing: -0.1845px;
  font-size: 5rem;
  color: #131820;
}

/* Subtitle */
.intro .subtitle h5 {
  margin-top: 27px;
  font-weight: 400;
  letter-spacing: -0.1845px;
  font-size: 1.22rem;
  line-height: 1.5rem;
  color: #6f7277;
}

/* Button */
.intro button {
  margin-top: 30px;
  border-radius: 50px;
}

.intro-lern-more-button {
  border-radius: 50px;
  margin: 2px 3px;
  color: #131820;
  font-size: 1rem;
  background-color: #f9fafb;
  margin-bottom: 60px;
}

/* Cards */
.card .card-body {
  background-color: #f9fafb;
}

.card .card-body .card-index {
  font-size: 1.25rem;
  color: #6f7277;
  font-size: 400;
}

.card .card-body .card-title {
  margin-top: 10px;
  font-size: 1.41rem;
  color: #131820;
  font-weight: 600;
  letter-spacing: -0.1845px;
}

.card .card-body .card-text {
  margin-top: 100px;
  font-size: 1.15rem;
  color: #6f7277;
  font-weight: 400;
  letter-spacing: -0.1845px;
}
/* +++ End of Intro +++ */
/* ++++++++++++++++++++ */
